<!DOCTYPE html>
<html lang="en">
    <%- include('head', {title: "All foods"}); -%>
    <style>
        tbody tr:hover {
            background-color: aquamarine !important;
            cursor: pointer;
        }

        .selected {
            background-color: aquamarine !important;
        }
    </style>
    <body>
        <%- include('header'); -%>
        <div class="Subhead m-5">
            <div class="Subhead-heading">All Food items in our database</div>
            <div class="Subhead-description">Select items to calculate calories</div>
        </div>
        <div class="markdown-body py-1 px-5" id="list-table">
            <div>
                <p>
                    Selected foods for calculation: 
                    <span class="Counter ml-1">
                        {{selected.length}}
                    </span>
                </p>
                <ul>
                    <li v-for="food of selected">
                        {{food}} 
                        <input type="number" class="form-control" :id="food" value="1">
                    </li>
                </ul>
            </div>
              
            <table>
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Typical Values Per</th>
                      <th>Calories</th>
                      <th>Carbs</th>
                      <th>Fats</th>
                      <th>Proteins</th>
                      <th>Salt</th>
                      <th>Sugar</th>
                    </tr>
                </thead>
                <tbody>
                    <% foods.forEach(function(food){ %>
                    <tr @click="addToList">
                      <td><%= food.name %></td>
                      <td><%= food.typical_values_per %> <%= food.unit_of_tvp %></td>
                      <td><%= food.calories %></td>
                      <td><%= food.carbs %></td>
                      <td><%= food.fats %></td>
                      <td><%= food.proteins %></td>
                      <td><%= food.salt %></td>
                      <td><%= food.sugar %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <!-- VueJS 3 JavaScript Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js" integrity="sha512-M8VjsuCj1iBzrwKloFNjvQBmFXT2oF0MWExoLGpQT2nEx5tq7CP+BhWGJdczT1LoWAhyqHh+LJ6ihHSVGyclHw==" crossorigin="anonymous"></script>
        <script>  
            const app = Vue.createApp({
                data() {
                    return {
                        selected: []
                    }
                },
                methods: {
                    addToList(e) {
                        const foodName = e.target.parentNode.children[0].innerText;
                        if(!this.selected.includes(foodName)) {
                            this.selected.push(
                                foodName
                            );
                            e.target.parentNode.classList.add("selected");
                        } else {
                            for(let i = 0; i < this.selected.length; i++) {    
                                if ( this.selected[i] === foodName) { 
                                    this.selected.splice(i, 1); 
                                }
                            }
                            e.target.parentNode.classList.remove("selected");
                        }
                    }
                }, 
                qtyChange(e) {
                    console.log("qty changed!")
                }
            });

            const mountedApp = app.mount('#list-table');
        </script>
    </body>
</html>