<!-- Page to show search results -->
<!DOCTYPE html>
<html lang="en">
<%- include('head', {title: "Search results"}); -%>
<body>
    <%- include('header'); -%>
    <div class="Subhead m-5">
        <!-- Display information about the search query -->
        <div class="Subhead-heading">Showing results for "<%= queryString %>"</div>
        <div class="Subhead-description"><%= foods.length %> matches found</div>
    </div>
    <div class="markdown-body py-1 px-5">  
        <!-- If there is at least one row -->
        <% if(foods.length > 0) { %>
        <!-- Display a table containing the values -->
        <table>
            <thead>
                <!-- Column names -->
                <tr>
                  <th>Name</th>
                  <th>Typical Values Per</th>
                  <th>Calories</th>
                  <th>Carbs</th>
                  <th>Fats</th>
                  <th>Proteins</th>
                  <th>Salt</th>
                  <th>Sugar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Render a row for each array item -->
                <% foods.forEach(function(food){ %>
                <tr>
                  <td><%= food.name %></td>
                  <td><%= food.typical_values_per %> <%= food.unit_of_tvp %></td>
                  <td><%= food.calories %></td>
                  <td><%= food.carbs %></td>
                  <td><%= food.fats %></td>
                  <td><%= food.proteins %></td>
                  <td><%= food.salt %></td>
                  <td><%= food.sugar %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <!-- If 0 results are found -->
        <!-- Display a message to the user -->
        <% } else { %>
            <h1>No results found</h1>
        <% } %>
    </div>
</body>
</html>